<html>
<script>
    function message1()
    {
        let suyoghttp = new XMLHttpRequest()
        suyoghttp.open("get", "/message")
        suyoghttp.onload=function()
        {
            let jobj= JSON.parse(suyoghttp.response)
            console.log(suyoghttp.response)
            document.getElementById("p1").innerHTML=`<h5>sender: ${jobj.sender}<h
        }
    }

</script>



    <body>
        <input type = "number" id="i1">
        <input type="button " value="message" onclick="message1"></input>
        <input type="button" value="square" onclick="square1" > </input> 
        <p id="p1"></p>
        <p id="p2"></p>
    </body>
</html>